<button class="fill"><%=link_to "ホーム", root_path %></button>
<button class="fill"><%=link_to "ブログ", blogs_path %></button>
<button class="fill"><%=link_to "お問い合わせ", new_contact_path %></button>
<h2>
  <img src="<%=asset_path"１２３４.png" %>">
  <img src="<%=asset_path"uhouho.jpg" %>">
<h2>
